.m-form {
  overflow-x: hidden;
}

.detail-desc {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  th {
    border: 1px solid var(--el-border-color-lighter);
    padding: 8px 11px;
  }
  td {
    border: 1px solid var(--el-border-color-lighter);
    padding: 8px 11px;
    color: var(--el-text-color-primary);
    font-size: 14px;
    &.label {
      color: var(--el-text-color-regular);
      font-weight: 700;
      background: var(--el-fill-color-light);
    }
  }
}
